@media (min-width: 768px) and (max-width: 1280px) {
    .main-section__name {
        margin-top: 5vw;
        font-size: 5vw;
    }
    .main-section__position {
        font-size: 3vw;
    }
    .section-title {
        margin-top: 2vh;
        margin-bottom: 4vh;
        font-size: 2.5vw;
    }
    .skills-item,
    .lang-item,
    .project-item,
    .about-item,
    .education-name {
        font-size: 2vw;
    }
    .education-year,
    .contacts-item {
        font-size: 1.8vw;
    }
    .education-section__item {
        margin: 3vh 4.5vw;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .main-section__name {
        margin-top: 5vw;
        font-size: 6vw;
    }
    .main-section__position {
        font-size: 5vw;
    }
    .section-title {
        margin-top: 2vh;
        margin-bottom: 4vh;
        font-size: 5.5vw;
    }
    .skills-item,
    .lang-item,
    .project-item,
    .about-item,
    .education-name,
    .contacts-item>i {
        font-size: 5vw;
    }
    .education-year,
    .contacts-item {
        font-size: 4.5vw;
    }
    .education-section__item {
        margin: 3vh 4.5vw;
    }
    .contacts-item a {
        margin-left: 0;
    }
    footer {
        font-size: 3vw;
    }
}